img {
	box-shadow: 3px 12px 13px 3px rgba(0,0,0,0.35), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.next-container{
	bottom: 15%;
    position: fixed;
    width: 100%;
}
.rate-container{
	margin-top: 10%;
}
.material-icons {
	color: rgba(255, 255, 255, 1);
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	font-size: 15vmin;
	cursor: pointer;
}
.material-icons:hover {
	color: #ff00bf;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	font-size: 19vmin;
	cursor: pointer;
}
.active {
	color: #ff00bf;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	font-size: 17vmin;
	cursor: pointer;
}
#btn-rate{
	width: 95%;
	margin-left: 2.5%;
	font-size: 2.5rem;
}
h5 {
	font-size: 1.80rem;
}