<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <style>
    html, body{
      height: 100%;
      width: 100%;
      margin:0px;
      padding: 0px;
      background-image: url("../../static/img/backgrounds/polonez_car.png");
    }
    .container-fluid{
      height: 100%;
    }
    .general-content {
      height: 100%;
      width: 100%;
    }
    .row{
      margin-bottom: 0px;
    }
    .content-block {
      width: 100%;
      height: 100%;
    }
    #navigation-content{
      width: 100%;
      height: 100%;
    }
  </style>
	
  <div class="container-fluid">
    <div class="row general-content">
      <div id="navigation-content" class="main-background">
        <div id="navigation" class="content-block">{% block content_navigation %}{% endblock %}</div>
      </div>
    </div>
  </div>
        
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/materialize.min.js"></script>
	<!-- custom script -->
	<script>
     
	</script>
  <!--Import scripts from views-->
  {% block javascript %}{% endblock %}
</body>