{% extends "/vertical/base.html" %}

{% block content_navigation %}
    <style>
        .title-container {
            height: 10%;
        }
        .title {
            margin-left: auto;
            margin-right: auto;
            font-size: 1.5rem;
        }
        .ride-info {
            height: 60%;
        }
    </style>
    <div class="row wrapper title-container">
        <div class="col s12 valign-wrapper" style="height: 100%">
            <span class="title"><b>THANK YOU FOR USING COTXOX</b></span>
        </div>
    </div>
    <div class="row ride-info">
        <div class="card col s10 offset-s1">
            <span><b>Here's the info about your ride:</b><span>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}