{% extends "/vertical/base.html" %}

{% block content_navigation %}
    <style>
        .title-container {
            height: 10%;
        }
        .title {
            margin-left: auto;
            margin-right: auto;
            font-size: 1.5rem;
        }
        .ride-info {
            height: 60%;
        }
    </style>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><h4>Thank You for using Cotxox!</h4></span>
                    <h5>Ride info:</h5>
                    <p><b>From: </b>{{ ride.startPoint }}</p>
                    <p><b>To: </b>{{ ride.endPoint }}</p>
                    <p><b>Distance: </b>{{ ride.distance }} km</p>
                    <p><b>Time: </b>{{ ride.time }} min</p>
                    <p><b>Cost: </b>{{ ride.cost }} $</p>
                    <p><b>Tip: </b>{{ ride.tip }} $</p>
                    <p><b>Driver: </b>{{ driver.firstName }}</p>
                    <p><b>Rate: </b>{{ rate.rate }}</p>
                </div>
                <div class="card-action center">
                    <a href='{{ url_for("setpickup") }}' class="waves-effect waves-light btn">RIDE AGAIN</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}