{% extends "/vertical/base.html" %}

{% block content_chat %}

    <h1 class="center">CHAT PAGE</h1>
{% endblock %}

{% block content_navigation %}
    <!--<div class="row" style="height:70%; margin-top: 5%;">
        <div id="googleMap" class="col s12" style="width: 100%;height:100%;"></div>    
    </div>-->
    <h1>NAVIGATION PAGE</h1>
{% endblock %}

{% block content_profile %}
    <h1 class="center">PROFILE PAGE</h1>
{% endblock %}

{% block javascript %}
    <script>
        window.onload = function() {
            
        }
        $('#chat-button').click(function(){
            $('#chat-content').css("z-index", "11");
            $('#profile-content').css("z-index", "8");
        });
        $('#profile-button').click(function(){
            $('#profile-content').css("z-index", "11");
            $('#chat-content').css("z-index", "8");
        });
        $('#navigation-button').click(function(){
            $('#chat-content').css("z-index", "8");
            $('#profile-content').css("z-index", "8");
        });
        function initMap() {
        var uluru = {lat: 39.568853, lng:  2.667422};
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/'
        var map = new google.maps.Map(document.getElementById('googleMap'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          icon: iconBase + 'parking_lot_maps.png'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYu65s-BcSNwfqQuEAZMq8RqUM-D8yb-4&callback=initMap">
    </script>
{% endblock %}