{% extends "/vertical/base.html" %}

{% block content_chat %}

    <h1 class="center">CHAT PAGE</h1>
{% endblock %}

{% block content_navigation %}
    <style>
        .map {
            height: 55%;
            margin-top: 5%;
        }
        .inputs {
            height: 20%;
        }
        .pickup-button a{
            font-size: 2.5rem;
        }
        .card {
            margin: 10px 10px;
        }
        .card .card-content {
            padding: 0;
        }
    </style>
    <div class="row map">
        <div id="googleMap" class="col s12" style="width: 100%;height:100%;"></div>    
    </div>
    <div class="row inputs">
        <div class="card">
            <div class="card-content">
                <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">gps_fixed</i>
                <label for="destination">Destination</label>
                <input type="text" placeholder="Where you wanna go?" id="destination">
            </div>
            <div class="input-field col s12">
            <i class="material-icons prefix">gps_fixed</i>
            <label for="from">From</label>
            <input type="text" value="IES Borja Moll" id="from">
        </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row pickup-button">
        <a href="#" class="btn btn-large waves-effect col s10 offset-s1"> SET PICKUP
            <i class="material-icons">near_me</i>
        </a>
    </div>
{% endblock %}

{% block content_profile %}
    <h1 class="center">PROFILE PAGE</h1>
{% endblock %}

{% block javascript %}
    <script>
        window.onload = function() {
            
        }
        $('#chat-button').click(function(){
            $('#chat-content').css("z-index", "11");
            $('#profile-content').css("z-index", "8");
        });
        $('#profile-button').click(function(){
            $('#profile-content').css("z-index", "11");
            $('#chat-content').css("z-index", "8");
        });
        $('#navigation-button').click(function(){
            $('#chat-content').css("z-index", "8");
            $('#profile-content').css("z-index", "8");
        });
        function initMap() {
        var uluru = {lat: 39.568853, lng:  2.667422};
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/'
        var map = new google.maps.Map(document.getElementById('googleMap'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          icon: iconBase + 'parking_lot_maps.png'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYu65s-BcSNwfqQuEAZMq8RqUM-D8yb-4&callback=initMap">
    </script>
{% endblock %}