{% extends "/vertical/base.html" %}

{% block content_navigation %}
    <link type="text/css" rel="stylesheet" href="../static/css/setPickup.css" />
    <div class="row map">
        <div id="googleMap" class="col s12" style="width: 100%;height:100%;"></div>    
    </div>
    <div class="row inputs">
        <div class="card">
            <div class="card-content">
                <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">gps_fixed</i>
                <label for="destination">Destination</label>
                <input type="text" value="Estacion Intermodal, Palma" placeholder="Where you wanna go?" id="destination">
            </div>
            <div class="input-field col s12">
            <i class="material-icons prefix">gps_fixed</i>
            <label for="from">From</label>
            <input type="text" value="IES Francesc Borja Moll, Palma" id="from">
        </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row pickup-button wrapper">
        <a href="#" class="btn btn-large waves-effect col s10 offset-s1 valign-wrapper" id="pickup"> SET PICKUP
            <i class="material-icons">near_me</i>
        </a>
    </div>
      <!-- Modal Structure -->
    <div id="requestLyft" class="modal">
        <div class="modal-content">
            <div class="row center">
              <h4><i class="material-icons">directions_car</i>Lyft</h4><hr>
            </div>
            <div class="row">
                <div class="col s7"><i class="material-icons icon-align">credit_card</i><span>{{ current_user.creditCard }}</span></div>
                <div class="col s5"><span class="right"><i class="material-icons icon-align">attach_money</i> Cost: <strong id="modalCost"> €</strong></span></div>
            </div>
                <hr>
            <div class="row">
                <div class="col s12"><i class="material-icons icon-align" style="color:#352285;">gps_fixed</i> <span class="modalFrom"></span></div>
            </div>
                <hr>
            <div class="row">
                <div class="col s12"><i class="material-icons icon-align" style="color:#ff00bf;">gps_fixed</i> <span class="modalDestination"></span></div>
            </div>
                <hr>
            <div class="row">
                <div class="col s6"><span><i class="material-icons icon-align">place</i> Dist.: <strong id="distance"></strong> km</span></div>
                <div class="col s6"><span class="right"><i class="material-icons icon-align">timer</i> Time: <strong id="time"></strong> min</span></div>
            </div>
                <hr>
        </div>
        <div class="modal-footer center">
          <a href="#" id="requestDriver" class="modal-action modal-close waves-effect waves-green btn lyft" style="float: none;">REQUEST LYFT</a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="waitingDriver" class="modal">
        <div class="modal-content">
            <input id="driverId" type="hidden">
            <div class="row center">
              <h5 style="color:#ff00bf;">YOUR DRIVER IS HERE</h5><hr>
            </div>
            <div class="row">
                <div class="col s3 center"><span><strong id="carModel"></strong><br><span id="carLicense"></span></span></div>
                <div class="col s6 center">
                    <img alt="car" id="carPhoto">
                    <img alt="driver" id="driverPhoto" class="circle">
                </div>
                <div class="col s3 center"><span><strong id="driverName">Conductor</strong></span><br><i class="material-icons icon-align">star</i><span id="averageRate"></span></div>
            </div>
                <hr>
            <div class="row">
                <div class="col s12"><i class="material-icons icon-align" style="color:#352285;">gps_fixed</i> <span class="modalFrom"></span></div>
            </div>
                <hr>
            <div class="row">
                <div class="col s12"><i class="material-icons icon-align" style="color:#ff00bf;">gps_fixed</i> <span class="modalDestination"></span></div>
            </div>
                <hr>
        </div>
        <div class="modal-footer center">
            <form method="POST">
            {{ form.ride_data(id="data") }}
            <div class="col s6">
                <button type="submit" action="submit" id="goPayment" class="modal-action modal-close waves-effect waves-green btn lyft" style="float: none;">REQUEST LYFT</a>
            </div>
            </form>
            <div class="col s6">
                <a class="modal-action modal-close waves-effect waves-green btn lyft" style="float: none;">CANCEL</a>
            </div>
        </div>
    </div>
    


{% endblock %}

{% block javascript %}
    <script src="../../static/js/setPickup.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYu65s-BcSNwfqQuEAZMq8RqUM-D8yb-4&callback=initMap">
    </script>
{% endblock %}